body {
	margin: 0px;
	padding: 0px;
	font-family: 'Marcellus SC', serif;
	height: 100%;
	background-color: black;
}

a {
	color: white;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

a:hover {
	color: orange;
}


/* A1 LOGIN SECTION */

#login_wrapper {
	position: fixed;
	height: 5%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

#login_text {
	position: absolute;
	top: 52.5%;
	transform: translateY(-50%);
	right: 5%;
	color: white;
	font-size: 1em; /* standard size? */
}

#nav_wrapper {
	display: none;
}

/* A2 BANNER SECTION */

#banner_wrapper {
	position: absolute;
	top: 5%;
	height: 15%;
	width: 100%;
	background-color: #313233;
	background-image: url("../img/emblem_2.png");
	background-position: 1.25%;
	background-size: 6.15%;
	background-repeat: no-repeat;
}

#banner_text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 7.5%;
	font-size: 3.75em; /* 60px */
	color: white;
	width: auto;
	text-align: center;

}

#banner_links {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0%;
	font-size: 1.5em; /* 60px */
	color: white;
	width: 100%;
	text-align: right;
	display: inline;
	padding-right: 0px;
	text-transform: uppercase;
}

.links {
	display: inline;
	margin-right: 5%;
}



/* #banner_wrapper #banner_logo {
	position: absolute;
	height: 75%;
	width: 5%;
	top: 50%;
	transform: translateY(-50%);
	left: 1.5%;	

} */



/* A3 CONTENT SECTION */

#member_content {
	position: absolute;
	top: 20%;
	height: 110%;
	width: 100%;
	background-image: url("../img/back10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;

}

#member_portrait {
	position: absolute;
	top: 20%;
	height: 110%;
	width: 100%;
	background-image: url("../img/sera2.png");
	background-repeat: no-repeat;
	background-size: cover;

}

#member_background {
	position: relative;
	top: 5%;
	left: 2.5%;
	height: 90%;
	width: 95%;
/* 	background: url("../img/sera7.png");
	background-position: 0% 50%;
	background-repeat: no-repeat;
	background-size: cover; */
}

#member_info {
	position: absolute;
	top: 15%;
	left: 5%;
	height: 60%;
	width: 45%;
/* 	overflow: auto; */
	background-color: rgba(251, 243, 234, 1);
	z-index: 10;
}

.load {
	opacity: 1;
}

#member_info_wrapper {
	position: absolute;
	top: 2.5%;
	width: 95%;
	height: 100%;
}

#member_header {
	position: absolute;
	display: inline-block;
	left: 2.5%;
	font-size: 3em;
	font-weight: 400;
}

.member_toggle {
	position: relative;
	padding-top: 4.25%;
	display: inline-block;
	right: -67.5%;
	font-family: 'Marcellus SC', serif;
	font-size: 1.75em;
	font-weight: 400;
	background: none;
	border: none;
	outline: none;
	color: black;
}

.member_toggle:not(#line):hover {
	color: orange;
	cursor: pointer;
}

.toggle_current {
	text-shadow: 1.5px 1.5px 1px orange;
}

#member_divider {
	position: relative;
	background-color: black;
	height: 0.25%;
	width: 100%;
	left: 52.5%;
	transform: translateX(-50%);
}

.member_content {
	position: relative;
	padding-top: 5%;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	visibility: visible;
	opacity: 1;
	transition: 0.5s;

}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

.display_none {
	display: none;
}

#member_stats {
	padding-top: 2.5%;
}

#class_level {
	padding-left: 2.5%;
	font-size: 1.5em;
	font-weight: 600;
}

.section_wrapper {
	padding-left: 17.5%;
	padding-top: 5%;
	vertical-align: top;
	display: inline-block;
}
.section_header {
	font-size: 1.25em;
	font-weight: 600;
	text-decoration: underline;
}


.stats_info_header {
	display: block;
	vertical-align: top;
	padding-top: 7.5px;
}

.stats_header {
	font-weight: 600;
	display: inline-block;
}

.stats_value {
	display: inline-block;
}


/* A4 BOTTOM BAR?

#bottom_bar {
	position: relative;
	height: 10%;
	width: 100%;
	bottom: -10%;
	background-color: rgba(251, 243, 234, 1);
}

#bottom_wrapper {
	position: absolute;
	height: 80%;
	width: 100%;
}

#bottom_text {
	position: relative;
	font-size: 3em;
	font-weight: 400;
	text-align: center;
} */

/* B1 1027x768 COMPAT */
 @media screen and (max-width: 1024px) {

 	#banner_links {
 		display: none;
 	}

 	#nav_wrapper {
 		display: block;
 		position: absolute;
 		top: 20%;
 		height: 7.5%;
 		width: 100%;
 		background-color: black;
 		z-index: 10;
 	}

	#nav_links {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.25em; /* 60px */
		color: white;
		height: 37.5%;
		width: 100%;
		text-align: center;
		display: inline;
		text-transform: uppercase;
	}

	.links {
		display: inline;
		margin-left: 6.25%;
		margin-right: 6.25%;
	}

	#member_info {
		top: 20%;
	}

	#member_info {
		height: 45%;
	}

	#member_portrait {
		background-position: 0 -10%;
	}

	#member_header {
		top: 0.75%;
		font-size: 2.75em;
	}

	.member_toggle {
		padding-top: 6.25%;
		padding-bottom: 1.5%;
		font-size: 1.25em;
	}

	.section_wrapper {
		padding-left: 12.5%;
		padding-top: 3.75%;
	}

	#class_level {
		font-size: 1.25em;
	}

	.section_header {
		font-size: 1em;
	}

	.stats_info_header {
		font-size: 0.95em;
	}

	#member_portrait {
		background-size: cover;
		background-position: left -21.5em bottom -2.5em;
	}

}