body {
	margin: 0px;
	padding: 0px;
	font-family: 'Marcellus SC', serif;
	height: 100%;
	background-color: black;
}

a {
	color: white;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

a:hover {
	color: orange;
}


/* A1 LOGIN SECTION */

#login_wrapper {
	position: fixed;
	height: 5%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 11;
}

#login_text {
	position: absolute;
	top: 52.5%;
	transform: translateY(-50%);
	right: 5%;
	color: white;
	font-size: 1em; /* standard size? */
}

/* A2 BANNER SECTION */

#banner_wrapper {
	position: absolute;
	top: 5%;
	height: 15%;
	width: 100%;
	background-color: #313233;
	background-image: url("../img/emblem_2.png");
	background-position: 1.25%;
	background-size: 6.15%;
	background-repeat: no-repeat;
}

#banner_text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 7.5%;
	font-size: 3.75em; /* 60px */
	color: white;
	width: auto;
	text-align: center;
	z-index: 10;

}

#banner_text:hover {
	color: orange;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

#banner_links {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0%;
	font-size: 1.5em; /* 60px */
	color: white;
	width: 100%;
	text-align: right;
	display: inline;
	padding-right: 0px;
	text-transform: uppercase;
}

.links {
	display: inline;
	margin-right: 5%;
}

#nav_wrapper {
	display: none;
}

#member_content {
	position: absolute;
	top: 20%;
	height: 100%;
	width: 100%;

}

.member_about {
	position: relative;
	height: 125%;
	width: 100%;
	background-image: url("../img/back7.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}


#content_filter {
	position: absolute;
	width: 100%;
	height: 125%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 9;
}


#member_header {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40%;
	width: 25%;
	color: orange;
	font-size: 3em;
	text-shadow: -1.5px 1.5px 1px black;
	text-transform: uppercase;
	text-align: center;
	z-index: 10;
}

#group_wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
}

.section_wrapper {
	position: relative;
	display: inline-block;
	margin-right: 5%;
	top: 55%;
	left: 20%;
	transform: translate(-50%, -50%);
	height: 75%;
	width: 25%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);	
}

.section_filter {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}

.section_filter:hover {
	background-color: rgba(0, 0, 0, 0);
}

.section_header {
	position: relative;
	top: 5%;
	text-align: center;
	color: white;
	font-size: 3em;
	text-shadow: -1.5px 1.5px 1px black;
	text-transform: uppercase;
	z-index: -1;
}

#member1 {
	background-image: url("../img/member_1.png");
	background-repeat: no-repeat;
	background-size: cover;

}

#member2 {
	background-image: url("../img/member_2.png");
	background-repeat: no-repeat;
	background-size: cover; 	
}

#member3 {
	background-image: url("../img/member_3.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.section_content {
 	position: relative;
 	width: 80%;
	top: 10%;
	left: 10%;
	color: white;
	font-size: 1em;
	line-height: 2em;
}


@media screen and (max-width: 1024px) {

 	#banner_links {
 		display: none;
 	}

 	#nav_wrapper {
 		display: block;
 		position: absolute;
 		top: 20%;
 		height: 6.5%;
 		width: 100%;
 		background-color: black;
 		z-index: 10;
 	}

	#nav_links {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.25em; /* 60px */
		color: white;
		height: 50%;
		width: 100%;
		text-align: center;
		display: inline;
		text-transform: uppercase;
	}

	.links {
		display: inline;
		margin-left: 6.25%;
		margin-right: 6.25%;
	}

 	#member_content {
 		top: 26.5%;
 	}

	.member_about {
		height: 100%;
	}

	.section_wrapper {
		background-position: -1.25em 0em;
	}

	.section_header {
		font-size: 2em;
	}

	#content_filter {
		height: 100%;
	}

}

@media screen and (min-width: 1440px) {

	#banner_links {
		font-size: 1.75em;
	}
	
 	.section_wrapper {
 		top: 52.5%;
 		background-position: -2.5em 0em;
 	}

 	.section_header {
 		font-size: 3em;

 	}

 	.section_content {
 		font-size: 1.25em;
 	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     .section_wrapper {
     	top: 0%;
     	left: 0%;
     	bottom: 20%;
     	right: 5%;
     	transform: translate(27.5%, 25%);
     }
}